!!!
%html
  %head
    %meta{"http-equiv": "Content-Type", content: "text/html"}/
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}/
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}/
    %meta{name: "mobile-web-app-capable", content: "yes"}/
    = csrf_meta_tags
    = csp_meta_tag
    %title= content_for(:title) || t("app_name")
    = yield :head
    %link{rel: "icon", href: "/icon.png", type: "image/png"}/
    %link{rel: "icon", href: "/icon.svg", type: "image/svg+xml"}/
    %link{rel: "apple-touch-icon", href: "/icon.png", type: "image/png"}/
    = stylesheet_link_tag "tailwind", "data-turbo-track": Rails.env.production? ? "reload" : ""
    = javascript_importmap_tags
  %body.h-full.max-h-screen.w-full.max-w-screen.bg-base-100.flex.flex-col
    .toast.toast-top.toast-center.z-100#toasts
    = render "layouts/navbar"
    %main.flex.w-full.p-4.self-center{class: "xl:w-[80rem]"}
      = yield
